
	
img{
width:500px;
height:500px;
margin:0 auto;
}

.photo{
	border:solid 1px black;
	display:flex;
	justify-content: center;
	align-items: center;
}


@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	select,
	textarea,
	input{
		font-size:16px;
	}

	#wrapper{
		width:300px;
		margin:0 auto;
		
		border:1px solid black;
		
		justify-content: center;
		align-items:center;
		brder:solid 1px black;
		
		}
		
		img{
		width:100px;
		height:100px;
		}

		.photo{
			
			border:solid 1px  black;
			display:flex;
			justify-content: center;
			align-items: center;

		}
	}		