#wrapper{
	display:none;
}
	
img{
width:200px;
height:200px;
margin:0 auto;
border-top-left-radius:10%;
border-top-right-radius:10%;
}

.pframe{
	width:200px;
	height:250px;
	background:#c3d0d1;
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	border-bottom-left-radius:10%;
	border-bottom-right-radius:10%;
	brder:solid 1px black;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}



.photo{
	
	display:flex;
	justify-content: center;
	align-items: center;
}

#desk{
	width:1200px;
	height:1200px;
	brder:1px solid black;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-between;
	
}

.desktoprows{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: space-between;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	select,
	textarea,
	input{
		font-size:16px;
	}
	#wrapper{
		width:375px;
		margin:0 auto;
		display:flex;
		
	
		
		justify-content: center;
		align-items:center;
		brder:solid 1px black;
		
		}
		
		img{
		width:250px;
		height:250px;
		border-radius:5px;
		}

		.photo{
			
			
			display:flex;
			justify-content: center;
			align-items: center;

		}

		.photo h1{
			margin:50px;
		}

		#desk{
			display:none;
		}

		header{
			display:none;
		}

		.desktoprows{
			display:none;
		}

		
.pframe{
display:none;
}
		
	}		