#wrapper{
	display:none;
}
	
img{
width:200px;
height:200px;
margin:0 auto;
}

.photo{
	
	display:flex;
	justify-content: center;
	align-items: center;
}

#desk{
	width:900px;
	height:900px;
	border:1px solid black;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	select,
	textarea,
	input{
		font-size:16px;
	}
	#wrapper{
		width:375px;
		margin:0 auto;
		display:flex;
		
	
		
		justify-content: center;
		align-items:center;
		brder:solid 1px black;
		
		}
		
		img{
		width:250px;
		height:250px;
		border-radius:5px;
		}

		.photo{
			
			
			display:flex;
			justify-content: center;
			align-items: center;

		}

		.photo h1{
			margin:50px;
		}

		#desk{
			display:none;
		}
	}		