body{
 background:#adb6bb;
 font-family: 'Baloo Paaji', cursive;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
#top{
  brder: solid 1px black;
width:100%;
display:flex;
justify-content: center;
align-items: center;
}
#top h1{
    color:#482714;
    font-size:50px;
}


.containertop{
    order:1px solid black;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;



}

.containerbottom{
    order:1px solid black;
    wdth: 1200px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:25px;

}

#areaCode{
height:40px;
width:500px;
font-size: 30px;

}

#findout{
    brder:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin-left:50px;
    width:60px;
    height:40px;
    background:#81ac50;;
    color:#482714;
    border-radius: 8px;

    }


#findout:hover{
cursor:pointer;
background:#66883f;;

}

#demo{
    font-size:50px;
    color:#482714;
}


    
 

    @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      select,
      textarea,
      input{
          font-size:16px;
      }

    body{
        background:#adb6bb;
     font-family: 'Baloo Paaji', cursive;
    }

    #top{
        
        text-align: center;
        border:1px solid black;


    }
    #top h1{
        font-size:50px;
    }

    .containertop{
        border:1px solid black;
        
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        margin-top:30px;
       
    
    
    }
    .containerbottom{
        border:1px solid black;
        
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin-left:50px;
    
    }
    
    #areaCode{
    height:30px;
    width:200px;
    font-size: 30px;
    border-radius:5px;
    
    }
    
    #findout{
        border:1px solid black;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:5px;
        margin-left:30px;
        width:60px;
        height:20px;
        background:#81ac50;;
        color:#482714;
        border-radius: 8px;
    
        }
    
    
    #findout:hover{
    cursor:pointer;
    background:#66883f;;
    
    }
    
    #demo{
        font-size:50px;
        color:#482714;
    }
    
    

}
