  body{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family:'Coiny', cursive;
                background:#c3d0d1;
            }
            p{
                boder:1px solid black;
                width:800px;
            }
               tr {
                   font-size:25px;
                   font-family:'Coiny', cursive;

                }
            #csquare1{
                height:70px;
                width:70px;
                background:rgb(211, 198, 181);
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:10px;
                margin-left: 10px;
                border-radius:5%;
                

            }
            #csquare2{
                height:70px;
                width:70px;
                background:rgb(211, 183, 146);
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:10px;
                margin-left: 10px;
                border-radius:5%;

            }
            #csquare3{
                height:70px;
                width:70px;
                background:rgb(209, 161, 97);
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:10px;
                margin-left: 10px;
                border-radius:5%;

            }
            #csquare4{
                height:70px;
                width:70px;
                background:rgb(216, 147, 56);
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:10px;
                margin-left: 10px;
                border-radius:5%;


            }
            #csquare5{
                height:70px;
                width:70px;
                background:rgb(218, 126, 5);
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:10px;
                margin-left: 10px;
                border-radius:5%;

            }

            table{
                brder:1px solid black;
                display:flex;
                justify-content: center;
                margin-top:100px;
                
            }